
body{
	font-family: 'Calibri';
	z-index: 50;
	background-color: #f2f2f2; 
	overflow-y: hidden;
}

.contenedor{
	width: 98%;
	margin: auto;
}


/*   ----  MENÚ   ----   */

.header{
	width: 100%;
	height: 60px;
	background-color: #666666;
	color: #ffff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 95%;
}

.header-img{
	display: inline-block;
	float: left;
	width: 10%;
	min-width: 125px;
	margin-left: 5%;
}

.h1-contacto{
	display: none;
}

#menu-bar{
	display: none;
}

.menu {
	position: absolute;
	top: 15vh;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(51,51,51,0.9);
	transition: all 0.5s;
	transform: translateX(200%);
}

.menu a {
	display: block;
	color: #ffff;
	height: 50px;
	text-decoration: none;
	padding: 15px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu a:hover {
	background: rgba(255,255,255,0.3);
}

#menu-bar:checked ~ .menu{
	transform: translateX(0%);
}


.header .contenedor {
	display: table;
}

@media(min-width: 10px) {

	.header {
		height: 15vh;
	}

	.header-img{
		width: 10%;
		min-width: 100px;
	}

	.header label {
		float: right;
		font-size: 28px;
		margin: 15px 5px;
		cursor: pointer;
	}
	
}

@media(min-width: 700px) {
	
	.header {
		height: 15vh;
	}

	.header-img{
		width: 10%;
		min-width: 150px;
	}

	.header label {
		float: right;
		font-size: 28px;
		margin: 15px 5px;
		cursor: pointer;
	}
	
}

@media(min-width: 1024px) {

	.header img{
		width: 10%;
		min-width: 250px;
	}

	.menu{
		position: static;
		width: auto;
		height: auto;
		transform: translateX(0%);
		float: right;
		display: flex;
		background-color: rgba(121, 155, 27, 0);
	}

	.menu a {
		border: none;
		margin: 5px;
		font-size: 16px;
		padding: 15px;
		margin: 5px;
	}

	.header label {
		transform: translateX(200%);
	}

	.header {
		background-color: rgba(51,51,51,0.9);
		height: 60px;
	}
}



/*   ----  MAIN  ----   */

.main-contacto {
	margin-top: 16vh;
	display: flex;
	justify-content: center;
}

.grid-contacto {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
	justify-content: center;
	gap: 4vh;
}

.main-contacto h2{
	display: grid;
	place-content: center;
}

.grid-contacto article{
	display: grid;
	place-content: center;
}

.grid-contacto h3{
	display: inline-block;
}

.redes{
	display: inline-block;
	color: #eee;
	font-family: calibri light;
	font-size: 18px;
	background: rgba(51,51,51,0.9);
	padding: 15px;
	margin: auto 5px;
	border-radius: 5px;
	animation-name: Tamanio;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	justify-content: center;
}

i {
	padding-right: 5px;
}

.redes:hover {
	background: rgba(100,100,100,0.8);
	cursor: pointer;
}

#img {
	border-style: none;
	border-color: #999;
	border-radius: 15px;
	width: 0;
}

.img-titulo {
	font-family: Arial, Helvetica, sans-serif;
	visibility: hidden;
	font-style: italic;
}


@media(min-width: 1024px) {

	.main-contacto {
		margin-top: 220px;
		display: flex;
		justify-content: center;
	}

	.grid-contacto {
		grid-template-columns: 2fr;
		grid-template-rows: repeat(5, 2fr);
		gap: 20px;
	}

	.redes{
		padding: 30px 80px;
		margin: 0;
	}

	#wp {
		margin-left: 20px;
	}
	
	#fb {
		margin-left: 20px;
	}
	
	#ig {
		margin-left: 20px;
	}
	
	#em {
		margin-left: 20px;
	}

	@media(max-height: 860px) {

		.main-contacto {
			display: flex;
			justify-content: center;
		}
		
		.grid-contacto {
			gap: 0px;
		}
	
		.redes{
			padding: 15px;
			margin: auto 5px;
		}

		#img {
			width: 500px;
			height: auto !important; 
/*			width: auto;*/
		}
	
	}

}

@media(min-width: 1260px) {

	#img {
/*		width: 620px;*/
		height: 486px;
		width: auto;
		margin-left: 3vw;
		object-fit: cover;
	}

	.section-img {
		position: relative;
	}

	.img-titulo {
		visibility:visible;
		position: absolute;
		bottom: 15px;
		color: white;
		background: white;
		background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.4) 50%, rgba(255,255,255,0) 100%);
		margin-left: 3vw;
		padding: 10px;
	}

	@media(max-height: 860px) {

		.main-contacto {
			display: flex;
			justify-content: center;
		}
		
		.grid-contacto {
			gap: 0px;
		}
	
		.redes{
			padding: 15px;
			margin: auto 5px;
		}

		#img {
			width: auto;
			max-height: 375px;
		}
	
	}

}

@media(min-width: 1480px) {

	#img {
/*		width: 650px;*/
		height: 510px;
		width: auto;
		margin-left: 15vw;
	}

	.img-titulo {
		bottom: 5px;
		margin-left: 15vw;
	}

	@media(max-height: 860px) {

		.main-contacto {
			display: flex;
			justify-content: center;
		}
		
		.grid-contacto {
			gap: 0px;
		}
	
		.redes{
			padding: 15px;
			margin: auto 5px;
		}

		#img {
			width: 500px;
		}
	
	}

}



@keyframes Tamanio {
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(0.9);
	}

	100%{
		transform: scale(1);
	}
}

/*   ----  FOOTER   ----   */

.footer-aux {
	position: absolute;
	margin: auto 0;
	top: 90%;
	background-color: #333; 
	height: 20%;
	width: 100%;
}

.footer-aux h2 {
	text-align: center;
	font-size: 20px;
	color: #bbb;
}

.footer-aux p {
	float: right;
	font-size: 16px;
	color: #bbb;
	padding-top: 10px;
	padding-right: 30px;
}

.footer-aux .contenedor {
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 60px;
}

